.custum-card{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.custumer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
input{
    width: 100%;
}
.custumer_color{
    background-color: red;
    color: white;
}