<div class="container custumer_container">

    <div class="card mb-3 w-75">
        <div class="row g-0">
            <div class="col-md-4  custumer__card">


            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Information du foyer dont le numéro est : {{idFoyer}}</h5>

                    <div class="list-group ">
                        <a class="list-group-item list-group-item-action active liste-item">
                            Foyer {{idFoyer}}
                        </a>
                        <a class="list-group-item list-group-item-action">{{foyer.nomFoyer}}</a>
                        <a class="list-group-item list-group-item-action">{{foyer.capaciteFoyer}}</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>